# Xcode / iOS
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# macOS
.DS_Store

# GitHub Actions temp files
*.p12
*.mobileprovision
